# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EasyIpClientCore.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\EasyIpClientCore\EasyIpClientCore\.idea\.idea.EasyIpClientCore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
